<div class="display">
    <% if (title) { %>
        <h1 class="title"><%= title %></h1>
    <% } else { res.redirect('/')} %>

    <%- messages() %>

    <form action="/account/change-password" method="post">
        <label for="current-password">Current Password</label>
        <input type="password" name="current_password" id="currentPassword" required><br>

        <label for="new-password">New Password</label>
        <input type="password" name="new_password" id="newPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
        <p>New password must be a minimum of 12 characters, including 1 capital letter, 1 number, and 1 special character.</p>

        <label for="confirm-password">Confirm New Password</label>
        <input type="password" name="confirm_password" id="confirmNewPassword" required><br>

        <button type="submit" id="btn">Change Password</button>
    </form>

    <h3><a href="/account/manage">Back to Account Management</a></h3>
</div>