<div class="main-content">
    <section class="hero_section">
        <h2>Welcome to CSE Motors!</h2>

        <%- messages() %>
        
        <div class="car_title">
            <picture>
                <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width: 600px)">
                <img src="/images/vehicles/delorean.jpg" alt="Responsive image" class="delorean-img">
            </picture>
            <div class="car-title-container">
                <h3>DMC Delorean</h3>
                <ul class="own_list">
                    <li>3 Cup Holders</li>
                    <li>Superman Doors</li>
                    <li>Fuzzy Dice!</li>
                </ul>
                <img src="/images/site/own_today.png" alt="Own Today" class="own-today">
            </div>
        </div>
    </section>
    <div class="info-container">
        <div class="review-header">
            <h2>DMC Delorean Reviews</h2>
            <div class="reviews">
                <ul class="review_list">
                    <li>"So fast it's almost like travelling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </div>
        </div>
        <div class="upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-cards">
                <div class="upgrade-card">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <a href="/">Flux Capacitor</a> 
                </div>
                <div class="upgrade-card">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    <a href="/">Flame Decals</a>
                </div>
                <div class="upgrade-card">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                    <a href="/">Bumper Stickers</a>
                </div>
                <div class="upgrade-card">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <a href="/">Hub Caps</a>
                </div>
            </div>
        </div>
    </div>
</div>