<section>
    <h1>Welcome to CSE Motors!</h1>
    
    <div class="car_title">
        <h3>DMC Delorean</h3>
        <picture>
            <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width: 600px)">
            <img src="/images/vehicles/delorean.jpg" alt="Responsive image">
        </picture>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dize!</li>
        </ul>
        <img src="/images/site/own_today.png" alt="Own Today">
    </div>
</section>