<div class="error-display">
  <div class="error-card">
    <h1 class="title"><%- title %></h1>
    <p><%- message %></p>
  </div>
  <div class="error-card">
    <img src="../images/error/error-x.webp" alt="red x icon">
  </div>
</div>